/* ===========================
   SIGNUP PAGE
=========================== */

.auth-container{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.auth-card{

    background:white;

    width:100%;

    max-width:450px;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.auth-logo{

    width:90px;

    height:90px;

    background:#E8F5E9;

    color:#2E7D32;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:45px;

    margin:0 auto 20px;

}

.auth-card h1{

    text-align:center;

    color:#2E7D32;

    margin-bottom:10px;

}

.auth-card p{

    text-align:center;

    color:#666;

    margin-bottom:30px;

}

.auth-card label{

    display:block;

    margin-bottom:8px;

    color:#444;

}

.auth-card input{

    margin-bottom:20px;

}

.auth-btn{

    width:100%;

    margin-top:10px;

}

.auth-link{

    text-align:center;

    margin-top:25px;

    color:#666;

}

.auth-link a{

    color:#2E7D32;

    text-decoration:none;

    font-weight:500;

}

.auth-link a:hover{

    text-decoration:underline;

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

.auth-card{

    padding:30px;

}

}